btop.log
ollama.lua
nvim/pack/github
ranger/.mypy_cache
gtk-3.0/servers
gtk-3.0/gtk.css
gtk-4.0/servers
gtk-4.0/gtk.css
qt5ct/colors/awesomewm.conf
awesome/vicious
awesome/lain
chromium/Pywal
__pycache__
